@{
	ViewData["Title"] = ViewBag.SubCategory;
}

<div class="category-page-container">
	@(Html.Kendo().Breadcrumb()
		.Name("breadcrumb")
		.Navigational(true)
		.Items(items =>
		{
			items.Add()
				.Type(BreadcrumbItemType.RootItem)
				.Href(@Url.Action("Index", "Home"))
				.ShowText(false)
				.Icon("home")
				.ShowIcon(true);
			items.Add()
				.Type(BreadcrumbItemType.Item)
				.Href("/Home/" + ViewBag.Category)
				.Text(ViewBag.Category)
				.ShowText(true);
			items.Add()
				.Type(BreadcrumbItemType.Item)
				.Href(@Url.Action("Category", "Products", new { subCategory = ViewBag.SubCategory }))
				.Text(ViewBag.SubCategory)
				.ShowText(true);
		})
	)

	<div class="category-content-container">
		@await Html.PartialAsync("_MainControls.cshtml")
		@await Html.PartialAsync("_AllProductsListView.cshtml")
	</div>
</div>

<script type="text/html" id="product-template">
	@await Html.PartialAsync("_TileProductCard.cshtml")	
</script>

<script type="text/html" id="product-template-list">
	@await Html.PartialAsync("_TileProductCartList.cshtml")	
</script>

<span hidden id="subCategory">@ViewBag.SubCategory</span>

<script>
	$(document).ready(function () {
		var searchParam = '@ViewBag.SearchParam';
		if (searchParam != null) {
			$("#searchBar").data("kendoAutoComplete").value(searchParam);
		}

		$.get('@Url.Action("GetAllModelsInSubCategory","Products")?subCategory=@ViewBag.SubCategory', function (data) {
		//$.get("/Products/GetAllModelsInSubCategory?subCategory=@ViewBag.SubCategory", function (data) {

			if (data.length == 0) {
				$("#modelPicker").parent().hide();
			}
			else {
				$("#modelPicker").kendoCheckBoxGroup({
					items: data,
					change: function (e) { filterDataSource(); }
				});
			}
		});

		$.get('@Url.Action("GetAllSizesInSubCategory","Products")?subCategory=@ViewBag.SubCategory', function (data) {
		//$.get("/Products/GetAllSizesInSubCategory?subCategory=@ViewBag.SubCategory", function (data) {
			if(data.length == 0) {
				$("#sizePicker").parent().hide();
			}
			else {
				$("#sizePicker").kendoCheckBoxGroup({
					items: data,
					change: function (e) { filterDataSource(); }
				});
			}			
		});

		$.get('@Url.Action("GetAllColorsInSubCategory","Products")?subCategory=@ViewBag.SubCategory', function (data) {
		//$.get("/Products/GetAllColorsInSubCategory?subCategory=@ViewBag.SubCategory", function (data) {
			if (data.length == 0) {
				$("#colorPicker").parent().hide();
			}
			else {
				$("#colorPicker").kendoCheckBoxGroup({
					items: data,
					change: function (e) { filterDataSource(); }
				});
			}			
		});

		let toggleButton = $('.toggle-view').data("kendoButtonGroup");

        toggleButton.bind("select", function(e) {
            let index = this.current().index();
           if(index === 0){
                let productsListView = $("#allProductsListView").data("kendoListView");
               productsListView.setOptions({
                    dataSource: {
                        pageSize: 12
                    },
                    template: kendo.template($("#product-template").html()),
                    layout: "grid",
                    grid: {
                        rows: 4,
                        cols: 3
                    },
                });
               productsListView.dataSource.pageSize(12);
            } else {
                let productsListView = $("#allProductsListView").data("kendoListView");
                productsListView.setOptions({
                    template: kendo.template($("#product-template-list").html()),
                    layout: "grid",
                    dataSource: {
                        pageSize: 10,
						schema: {
							data: "Data",
							total: "Total"
						}
                    },
                    grid: {
                        rows: 5,
                        cols: 1
                    }
                });
                productsListView.dataSource.pageSize(5);
            }
        });
	});
</script>

<style>
	#breadcrumb {
		margin-left: 30px;
	}

	.category-content-container {
		display: flex;
		flex-direction: row;
	}

	#allProductsListView .k-listview-content {
		margin-top: 2%;
		margin-right: 2%;
	}

	.no-product-msg {
		text-align: center;
		padding: 2%;
	}
</style>

<link rel="stylesheet" href="~/css/favorites.css">
