@{
	ViewData["Title"] = "Accessories";
}

<div class="sub-category-container wrap-width">
	@(Html.Kendo().Breadcrumb()
		.Name("breadcrumb")
		.Navigational(true)
		.Items(items =>
		{
			items.Add()
			.Type(BreadcrumbItemType.RootItem)
			.Href(@Url.Action("Index", "Home"))
			.ShowText(false)
			.Icon("home")
			.ShowIcon(true);
			items.Add()
			.Type(BreadcrumbItemType.Item)
			.Href(@Url.Action("Accessories", "Home"))
			.Text("Accessories")
			.ShowText(true);
		})
	)

	<div class="category-heading-large">Accessories</div>
	<div class="sub-category-images">
		<div class="column">
			<a href="@Url.Action("Category", "Products")?subCategory=Bottles and Cages">
				<div class="category-heading">Bottles & Cages</div>
				<img src="@Url.Content("~/images/bottles_cages.png")" class="category-large-image" />
			</a>
		</div>
		<div class="column middle-container">
			<div class="middle-container-inner">
				<a href="@Url.Action("Category", "Products")?subCategory=Lights">
					<div class="category-heading">Lights</div>
					<img src="@Url.Content("~/images/lights.png")" class="category-small-image" />
				</a>
				<a href="@Url.Action("Category", "Products")?subCategory=Locks">
					<div class="category-heading">Locks</div>
					<img src="@Url.Content("~/images/locks.png")" class="category-small-image" />
				</a>
			</div>
			<a href="@Url.Action("Category", "Products")?subCategory=Tires and Tubes">
				<div class="category-heading">Tires and Tubes</div>
				<img src="@Url.Content("~/images/tires_tubes2.png")" class="category-bottom-image" />
			</a>
		</div>
		<div class="column">
			<a href="@Url.Action("Category", "Products")?subCategory=Pumps">
				<div class="category-heading">Pumps</div>
				<img src="@Url.Content("~/images/pumps.png")" class="category-large-image" class="category-image" />
			</a>
		</div>
	</div>
</div>
