@{
	ViewData["Title"] = "Components";
}


<div class="sub-category-container wrap-width">
	@(Html.Kendo().Breadcrumb()
		.Name("breadcrumb")
		.Navigational(true)
		.Items(items =>
		{
			items.Add()
			.Type(BreadcrumbItemType.RootItem)
			.Href(@Url.Action("Index", "Home"))
			.ShowText(false)
			.Icon("home")
			.ShowIcon(true);
			items.Add()
			.Type(BreadcrumbItemType.Item)
			.Href(@Url.Action("Components", "Home"))
			.Text("Components")
			.ShowText(true);
		})
	)

	<div class="category-heading-large">Components</div>
	<div class="sub-category-images-components">
		<div class="column">
			<a href="@Url.Action("Category", "Products")?subCategory=Chains">
				<div class="category-heading">Chains</div>
				<img src="@Url.Content("~/images/chains.png")" class="category-large-image" />
			</a>
		</div>
		<div class="column middle-container">
			<div class="middle-container-inner">
				<a href="@Url.Action("Category", "Products")?subCategory=Derailleurs">
					<div class="category-heading">Derailleurs</div>
					<img src="@Url.Content("~/images/derailleurs.png")" class="category-small-image" />
				</a>
				<a href="@Url.Action("Category", "Products")?subCategory=Forks">
					<div class="category-heading">Forks</div>
					<img src="@Url.Content("~/images/forks.png")" class="category-small-image" />
				</a>
			</div>
			<a href="@Url.Action("Category", "Products")?subCategory=Mountain Frames">
				<div class="category-heading">Mountain Frames</div>
				<img src="@Url.Content("~/images/mountain_frames.png")" class="category-bottom-image" />
			</a>
		</div>
		<div class="column">
			<a href="@Url.Action("Category", "Products")?subCategory=Handlebars">
				<div class="category-heading">Handlebars</div>
				<img src="@Url.Content("~/images/handlebars.png")" class="category-large-image" />
			</a>
		</div>
	</div>

	<div class="sub-category-images-bottom">
		<div class="row-image">
			<a href="@Url.Action("Category", "Products")?subCategory=Pedals">
				<div class="category-heading">Pedals</div>
				<img src="@Url.Content("~/images/pedals.png")" class="category-edge-image" />
			</a>
		</div>
		<div class="row-image">
			<a href="@Url.Action("Category", "Products")?subCategory=Saddles">
				<div class="category-heading">Saddles</div>
				<img src="@Url.Content("~/images/saddles.png")" class="category-long-image" />
			</a>
		</div>
		<div class="row-image">
			<a href="@Url.Action("Category", "Products")?subCategory=Touring Frames">
				<div class="category-heading">Touring Frames</div>
				<img src="@Url.Content("~/images/touring_frames.png")" class="category-long-image" />
			</a>
		</div>
		<div class="row-image">
			<a href="@Url.Action("Category", "Products")?subCategory=Wheels">
				<div class="category-heading">Wheels</div>
				<img src="@Url.Content("~/images/wheels.png")" class="category-edge-image" />
			</a>
		</div>
	</div>
</div>
