@{
	ViewData["Title"] = "Orders Details Page";
}

@model Models.ViewModels.OrderDetailsViewModel


<div class="order-details-container">
	<div class="order-details-title">Order #@Model.OrderNumber</div>
	<div class="order-details-header">
        <div class="order-details-information">
            <p>Order detials</p>
            <div><span class="order-information-title">Number:</span> #@Model.OrderNumber</div>
            <div><span class="order-information-title">Date:</span> @Model.OrderDate</div>
            <div><span class="order-information-title">Amount:</span> @(string.Format("{0:C}", Model.Total))</div>
        </div>
        <div class="ordered-by-container">
            <p>Ordered by:</p>
            <div>@Model.FirstName @Model.LastName</div>
            <div>@Model.Street</div>
            <div>@Model.City</div>
            <div>@Model.Phone</div>
        </div>
	</div>
	
    @(Html.Kendo().Grid<Models.ViewModels.OrderDetailsViewModel>()    
        .Name("grid_orderDetails")
        .Columns(columns => {
            columns.Select().Width(50);
            columns.Template("<img src='data:image/png;base64, #:ProductPhoto#' alt='#: data.ProductName #' style='width:100%;'/>").Width(120);
            columns.Bound(p => p.ProductName).Title("Product Name").Width(240);
            columns.Bound(p => p.Quantity).ClientFooterTemplate("Quantity: #=sum#").Width(172)
             .HeaderHtmlAttributes(new { style = "text-align: right; justify-content: right" })
            .HtmlAttributes(new { style = "text-align: right" });
            columns.Bound(p => p.UnitPrice).Title("Price").Format("{0:c}").Width(172).HeaderHtmlAttributes(new { style = "text-align: right; justify-content: right" })
            .HtmlAttributes(new { style = "text-align: right" });
            columns.Bound(p => p.LineTotal).Title("Total").Format("{0:c}").ClientFooterTemplate("Total: $#=sum#").Width(172)
            .HeaderHtmlAttributes(new { style = "text-align: right; justify-content: right" })
            .HtmlAttributes(new { style = "text-align: right" });
        })
        .Scrollable(s => s.Height("auto"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates => 
            {
                aggregates.Add(a => a.Quantity).Sum();
                aggregates.Add(a => a.LineTotal).Sum();
            })
            .Read(read => read.Action("OrderDetails_Read", "Orders").Data("passOrderNumber"))
            )
    )
    <div class="view-invoice-container">
        @(Html.Kendo().Button()
        .Name("invoideBtn")
        .ThemeColor(ThemeColor.Primary)
        .Icon("file")
        .Events(ev => ev.Click("viewInvoiceClick"))
        .Content("View Invoice"))
    </div>
</div>

<link rel="stylesheet" href="/css/order_details.css">
