<nav class="navbar navbar-expand-xl navbar-light bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="@Url.Action("Index","Home")" class="navbar-brand">
      <img class="logo-image" src="~/images/logo.svg" alt="Voyago">
    </a>
    <div class="d-flex search-bar-container">
        @(Html.Kendo().AutoComplete()
          .Name("searchBar")
          .DataTextField("ProductName")
          .Placeholder("Search")
          .ClearButton(false)
          .Suggest(false)
          .Filter("contains")
          .MinLength(2)
          .DataSource(source => source
          .ServerFiltering(true)
          .Read(read => read.Action("GetSearchSuggestions", "Home").Data("onAdditionalData")))
          .TemplateId("searchBar-template")
          .Events(e => e.Select("onSearchSelect").Change("searchProducts"))
        )
        <script>
          $(".search-bar-container").css("visibility", "hidden");
        </script>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerMenu">
        <ul class="navbar-nav mb-2 mb-xl-0 header-items-container">
            <li class="nav-item">
                @(Html.Kendo().DropDownList()
                  .Name("headerCategoriesDDL")
                  .OptionLabel("Categories")
                  .HtmlAttributes(new { @class="nav-link"})
                  .Size(ComponentSize.Small)
                  .FillMode(FillMode.Flat)
                  .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                      Text = "Accessories",
                      Value = "1"
                    },
                    new SelectListItem() {
                      Text = "Bikes",
                      Value = "2"
                    },
                    new SelectListItem() {
                      Text = "Clothes",
                      Value = "3"
                    },
                    new SelectListItem() {
                      Text = "Components",
                      Value = "4"
                    }
                        })  
                  .Events(e => e.Change("goToCategoryPage"))
                )
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Favorites","Account")" class="nav-link k-button k-button-rectangle k-button-flat-base k-button-flat k-button-sm k-rounded-md">
                  @(Html.Kendo().Badge()
                        .Name("favoritesBadge")
                        .Text(0)
                        .Position(BadgePosition.Edge)
                        .Rounded(Rounded.Full)
                        .Align(BadgeAlign.TopEnd)
                        .ThemeColor(BadgeColor.Primary)
                    )
                    <span class="header-item-text">Favorites</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Contacts")" class="nav-link k-button k-button-rectangle k-button-flat-base k-button-flat k-button-md k-rounded-md">
                    <span class="header-item-text">Contacts</span>
                </a>
            </li>
           <li class="nav-item">
                    <a href="@Url.Action("About","Home")" class="nav-link k-button k-button-rectangle k-button-flat-base k-button-flat k-button-md k-rounded-md">
                    <span class="header-item-text">About</span>
                </a>
            </li>
            <li class="nav-item">
                <div class="nav-link profile">
                    @(Html.Kendo().DropDownButton()
                        .Name("profileBtn")
                        .FillMode(FillMode.Flat)
                        .Icon("user")
                        .Items(items=>{
                            items.Add().Id("user-account").Text("Profile").Click(@<text>function() { location.href = '@Url.Action("Profile","Account")'; }</text>);
                            items.Add().Id("user-orders").Text("Orders").Click(@<text>function() { location.href = '@Url.Action("Index","Orders")'; }</text>);
                            items.Add().Id("user-logout").Text("Log out").Click(@<text>function() { location.href = '@Url.Action("LogOut","Account")'; }</text>);
                        })
                    )
                </div>
            </l>
            <li class="nav-item cart">
                <div class="nav-link cart">
                    <a href="@Url.Action("ShoppingCart","Account")" class="nav-link k-button k-button-rectangle k-button-flat-base k-button-flat k-button-md k-rounded-md">
                        <span class="k-icon k-i-cart">
                            @(Html.Kendo().Badge()
                                .Name("shoppingCartBadge")
                                .Text(0)
                                .Position(BadgePosition.Outside)
                                .Rounded(Rounded.Full)
                                .ThemeColor(BadgeColor.Primary)
                                .Align(BadgeAlign.TopEnd)
                            )
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
  </div>
</nav>

<script id="searchBar-template" type="text/html">
	<span class="k-state-default" style="font-weight: 400; font-size: 16px; line-height: 24px;">
		<span style="color: \\#849A8E;">
			#:data.ProductName#
		</span>
		# if(data.SubCategory != null) { #
			in #:data.SubCategory#
		# } #
	</span>
</script>

<script>
	$(document).ready(function () {
		$(".k-autocomplete").prepend("<span class='k-icon k-i-search' style='width:36px;height:36px;'></span>");
		getFavoritesCount();
		getShoppingCartItemsCount();
	})
</script>

<style>
    [aria-controls="headerCategoriesDDL_listbox"].k-focus::after,
    [aria-controls="headerCategoriesDDL_listbox"]:focus-within::after,
    [aria-controls="headerCategoriesDDL_listbox"]:focus::after {
        border: unset;
    }
</style>