<style>
    .navbar {
        padding-bottom: 0; 
    }

    .navbar-brand {
        margin: 1.75rem auto 1.75rem 15rem;
    }

    .logo-image{
        width: 238px;
        height: 58px;
	}

    .search-bar-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 33.02vw;
        margin: 2.313rem auto 2.438rem 2.382rem;
    }

    #navbarTogglerMenu {
        justify-content: center;
    }

    .header-items-container {
        align-items: baseline;
        margin-right: 13rem;
        margin-left: 5rem;
    }

    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    .navbar-light .navbar-nav .nav-link {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #323130;
    }

    .k-picker.k-focus::after,
    .k-picker:focus-within::after,
    .k-picker:focus::after {
        border: unset;
    }

    .nav-item .k-dropdownlist, #headerCategoriesDDL-list .k-list-optionlabel  {
        border-color: #FFFFFF;
        background-color: #FFFFFF;
    }

    .nav-item .cart {
        height: 50px;
    }

    .nav-item .cart a{
        height: 34px;
        width: 34px;
    }

     .cart a.nav-link span.k-icon{
        width: 20px;
        height: 20px;
    }

    @@media (max-width: 1400px) {
        .navbar-brand {
            margin: 1.75rem auto 1.75rem 8rem;
        }

        .header-items-container {
            padding: 0;
            margin: 0rem 1rem 0rem 1rem;
            gap: 15px;
        }
	}

    @@media (max-width: 1200px) {

        .navbar > .container-fluid {
            justify-content: flex-start;
        }

        .navbar-brand {
            margin: 1.75rem 1rem 1.75rem 2rem;
        }

        .search-bar-container {
            margin: 2.313rem 1rem 2.438rem 1rem;
        }

        .nav-link .k-input-inner, #headerCategoriesDDL-list .k-list-optionlabel {
            padding-inline: unset;
        }
	}

    @@media (max-width: 600px) {
        .navbar-brand {
            margin: 1rem 1rem 0.5rem 1rem;
        }

        .search-bar-container {
            margin: 1rem 1rem;
            flex: 1 1 100%;
        }
	}
</style>

<nav class="navbar navbar-expand-xl navbar-light bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/Home/Index" class="navbar-brand">
      <img class="logo-image" src="~/images/logo.png" alt="Voyago">
    </a>
    <div class="d-flex search-bar-container">
        @(Html.Kendo().AutoComplete()
          .Name("searchBar")
          .DataTextField("ProductName")
          .Placeholder("Search")
          .ClearButton(false)
          .Suggest(false)
          .Filter("contains")
          .MinLength(2)
          .DataSource(source => source
          .ServerFiltering(true)
          .Read(read => read.Action("GetSearchSuggestions", "Home").Data("onAdditionalData")))
          .TemplateId("searchBar-template")
          .Events(e => e.Select("onSearchSelect").Change("searchProducts"))
        )
        <script>
          $(".search-bar-container").css("visibility", "hidden");
        </script>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerMenu">
        <ul class="navbar-nav mb-2 mb-xl-0 header-items-container">
            <li class="nav-item">
                @(Html.Kendo().DropDownList()
                  .Name("headerCategoriesDDL")
                  .OptionLabel("Categories")
                  .HtmlAttributes(new { @class="nav-link"})
                  .Size(ComponentSize.Small)
                  .FillMode(FillMode.Flat)
                  .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                      Text = "Accessories",
                      Value = "1"
                    },
                    new SelectListItem() {
                      Text = "Bikes",
                      Value = "2"
                    },
                    new SelectListItem() {
                      Text = "Clothes",
                      Value = "3"
                    },
                    new SelectListItem() {
                      Text = "Components",
                      Value = "4"
                    }
                        })  
                  .Events(e => e.Change("goToCategoryPage"))
                )
            </li>
            <li class="nav-item">
                <a href="/Account/Favorites" class="nav-link k-button k-button-rectangle k-button-flat-base k-button-flat k-button-sm k-rounded-md">
                  @(Html.Kendo().Badge()
                        .Name("favoritesBadge")
                        .Text(0)
                        .Position(BadgePosition.Edge)
                        .Rounded(Rounded.Full)
                        .Align(BadgeAlign.TopEnd)
                        .ThemeColor(BadgeColor.Primary)
                    )
                    <span class="header-item-text">Favorites</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contacts/Index" class="nav-link k-button k-button-rectangle k-button-flat-base k-button-flat k-button-md k-rounded-md">
                    <span class="header-item-text">Contacts</span>
                </a>
            </li>
            <li class="nav-item">
                <div class="nav-link profile">
                    @(Html.Kendo().DropDownButton()
                        .Name("profileBtn")
                        .FillMode(FillMode.Flat)
                        .Icon("user")
                        .Items(items=>{
                            items.Add().Id("user-account").Text("Profile").Click(@<text>function() { location.href = '/Account/Profile'; }</text>);
                            items.Add().Id("user-orders").Text("Orders").Click(@<text>function() { location.href = '/Orders/Index'; }</text>);
                            items.Add().Id("about-page").Text("About us").Click(@<text>function() { location.href = '/Account/About'; }</text>);
                            items.Add().Id("user-logout").Text("Log out").Click(@<text>function() { location.href = '/Account/LogOut'; }</text>);
                        })
                    )
                </div>
            </l>
            <li class="nav-item cart">
                <div class="nav-link cart">
                    <a href="/Account/ShoppingCart" class="nav-link k-button k-button-rectangle k-button-flat-base k-button-flat k-button-md k-rounded-md">
                        <span class="k-icon k-i-cart">
                            @(Html.Kendo().Badge()
                                .Name("shoppingCartBadge")
                                .Text(0)
                                .Position(BadgePosition.Outside)
                                .Rounded(Rounded.Full)
                                .ThemeColor(BadgeColor.Primary)
                                .Align(BadgeAlign.TopEnd)
                            )
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
  </div>
</nav>

<script id="searchBar-template" type="text/html">
	<span class="k-state-default" style="font-weight: 400; font-size: 16px; line-height: 24px;">
		<span style="color: \\#849A8E;">
			#:data.ProductName#
		</span>
		# if(data.SubCategory != null) { #
			in #:data.SubCategory#
		# } #
	</span>
</script>

<script>
	$(document).ready(function () {
		$(".k-autocomplete").prepend("<span class='k-icon k-i-search' style='width:36px;height:36px;'></span>");
		getFavoritesCount();
		getShoppingCartItemsCount();
	})
</script>